<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}" />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>Your Bike</title>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <img
          src="{{ url_for('static',filename='images/yourbike-logo-zip-file/png/logo-no-background.png') }}"
          alt="Webiste Logo"
        />
        <input type="datetime-local" id="userDate" name="userDate" />
        <input
          type="text"
          name="location"
          id="location"
          placeholder="Insert Location"
        />
      </div>

      <div id="map"></div>
    </div>
    <div class="collapsible-container">
      <div class="collapsible">
        <div class="collapsible-header">Weather</div>
        <div class="collapsible-content child-content" id="weatherDiv">
          <p id="date_date">Date :</p>
          <p id="temperature">Temperature :</p>
          <p id="pressure">Pressure :</p>
          <p id=" humidity">Humidity :</p>
          <p id="status">Status :</p>
          <p id="description">Description :</p>
        </div>
      </div>
      <div class="collapsible">
        <div class="collapsible-header">Station</div>
        <div class="collapsible-content child-content" id="station_info">
          <p>Number :</p>
          <p>Address:</p>
          <p>Latitude :</p>
          <p>Longtitude :</p>
          <p>Bike Stands :</p>
        </div>
      </div>
      <div class="collapsible">
        <div class="collapsible-header">Availability</div>
        <div class="collapsible-content child-content" id="avail_info">
          <p>Bike Stand no. :</p>
          <p>Last Updated :</p>
          <p>Available Bikes :</p>
          <p>Available Bike Stands :</p>
        </div>
      </div>
    </div>

    <footer>
      <img
        src="{{url_for('static',filename='images/white_logo_footer.png')}}"
        alt="Logo Footer"
      />
      <div class="final_text">
        <p>
          This Project is Part of the Software Engineering Module. 2024 &copy;
        </p>
      </div>
      <p>
        Team : <br />
        Qingtian Ye <br />
        Emad Nazzal <br />
        Rupia Begum
      </p>
    </footer>
    <script>
      ((g) => {
        var h,
          a,
          k,
          p = "The Google Maps JavaScript API",
          c = "google",
          l = "importLibrary",
          q = "__ib__",
          m = document,
          b = window;
        b = b[c] || (b[c] = {});
        var d = b.maps || (b.maps = {}),
          r = new Set(),
          e = new URLSearchParams(),
          u = () =>
            h ||
            (h = new Promise(async (f, n) => {
              await (a = m.createElement("script"));
              e.set("libraries", [...r] + "");
              for (k in g)
                e.set(
                  k.replace(/[A-Z]/g, (t) => "_" + t[0].toLowerCase()),
                  g[k]
                );
              e.set("callback", c + ".maps." + q);
              a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
              d[q] = f;
              a.onerror = () => (h = n(Error(p + " could not load.")));
              a.nonce = m.querySelector("script[nonce]")?.nonce || "";
              m.head.append(a);
            }));
        d[l]
          ? console.warn(p + " only loads once. Ignoring:", g)
          : (d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)));
      })({ key: "AIzaSyBVA6mdrqjh6ZXWe5oJBt-Jac8uWOGhDE4", v: "weekly" });
    </script>
    <script type="module" src="./main.js"></script>
  </body>
</html>
