<!--This page is only for debug purpose only.-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}" />
    <title>Station Availability</title>
</head>
<body>
    <h1>Bike Station Availability</h1>
    <!-- This is where the Plotly graph will be embedded -->
    <div id="graph">
        {{ graph_html|safe }}
    </div>
    <div>
        {% for table in tables %}
            {{ table|safe }}
        {% endfor %}
    </div>
</body>
</html>
